html, body, #container{
    height: 99%;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: bisque;    
}

#container{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    border: 7px solid olive;
}

header nav{
    display: flex;
    flex-direction: column;
}

nav{
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.nav-btn{
    background-color: olive;
    color: bisque;
    width:12rem;
    height: 4rem;
    font-size: larger;
    font-weight: bold;    
    margin: 1rem;
    border: none;
}

.nav-btn:hover{
    border: 1px solid navy;
}

/* home page */

#content{
    display: grid;
    width: 100%;
}

#img-indxpg{
    width: 40rem;
    height: 40rem;
    border: 1px solid navy;
    margin-bottom: 5rem;
}

#topic{
    font-size: 5rem;
    font-weight: bold;
}

#remain{
    font-size: 2rem;
}

#topic, #remain{
    color: saddlebrown;
}

#head-prgh{
    color: navy;
    font-size: 1.3rem;
}

#details{
    margin-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* menu page */

.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.4fr, 4fr, 0.4fr, 3fr, 0.4fr, 3fr, 0.4fr, 3fr, 0.4fr, 3fr;
    /* background-color: aqua; */
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#b{
    grid-column: 1/6;
    grid-row: 1/2;
}

#l{
    grid-column: 1/6;
    grid-row: 3/4;
}

#d{
    grid-column: 1/6;
    grid-row: 5/6;
}

#ds{
    grid-column: 1/6;
    grid-row: 7/8;
}

#bv{
    grid-column: 1/6;
    grid-row: 9/10;
}

.breakfast{
    grid-column: 1/6;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* background-color: aquamarine; */
}

.lunch{
    grid-column: 1/6;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* background-color: blueviolet; */
}

.dinner{
    grid-column: 1/6;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* background-color: cadetblue; */
}

.desserts{
    grid-column: 1/6;
    grid-row: 8/9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* background-color: white; */
}

.beverages{
    grid-column: 1/6;
    grid-row: 10/11;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    /* background-color: white; */
}

.item{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    color: navy;
    font-weight: bold;
    /* border: 1rem solid ; */
}

.item:hover{
    border: 1px solid navy;
}

.details{
    background-color: bisque;
    color: navy;
    padding: 0.5rem;
    font-weight: bold;
    width: 5rem;
    border: none;
}

.details:hover{
    /* font-weight: bolder; */
    border: 1px solid navy;
}

.img{
    width: 16rem;
    height: 16rem;
    background-size: 16rem 16rem;
}

h1{
    color: navy;
}

#discount{
    color: navy;
    font-size: larger;
    margin-top: 3rem;
}

#modal{
    position: fixed;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 228, 196, 0.6);
}

#card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: bisque;
    border: 3px solid navy;
    width: 30rem;
    height: 20rem;
}

#modal-content{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: large;
    font-weight: bold;
    color: olive;
}

.close{
    display: flex;
    justify-content: right;
    align-items: center;
}

#close{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: bisque;
    border: none;
    font-weight: bolder;
}

#close:hover{
    font-weight: 400;
}

.ok-btn{
    padding: 0.5rem;
    font-weight: bolder;
    width: 6rem;
    color: white;
    background-color: navy;
    border: none;
    margin-top: 3rem;
}

.ok-btn:hover{
    border: 1px solid navy;
}

#selected-img{
    width: 250px;
    height: 250px;
}

/* about page */

#contnr-about{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 14rem;
}

#about{
    background-color: rgb(186,184,108, 0.3);
    color: saddlebrown;
    width: 40rem;
    height: 40rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

#about h1{
    color:saddlebrown;
}